/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
	--color1: rgb(14, 70, 93);
	--color2: rgb(8, 105, 71);
	--commentsColor1: rgb(174, 199, 211);
	--commentsColor2: rgb(201, 236, 224);
}

body {
}

.Header_container {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(120, 170, 190);
	justify-content: space-evenly;
	height: 60px;
	border: solid 1px black;
}

.Nav_container {
	display: flex;
}
.navItems {
	display: inline;
	list-style: none;
	text-decoration: none;
	padding: 20px;
	color: white;
	font-family: "Bebas Neue", cursive;
	font-size: 24px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: black;
	transition: 0.5s;
	text-decoration: underline;
}

.Buttons_container {
	left: 600px;
	display: flex;
	justify-content: right;
}

button {
	margin-right: 30px;
}

.signUpBtn:hover {
	background-color: var(--color2);
	transition: 0.5s;
}

.signInBtn:hover {
	background-color: lightseagreen;
	transition: 0.5s;
}
.signUpBtn {
	background-color: lightslategray;
	height: 35px;
	width: 120px;
	border: none;
	border-radius: 25px;
	color: white;
	margin-top: 12px;
	font-family: "Bebas Neue", cursive;
	font-size: 20px;
}

.signInBtn {
	background-color: var(--color2);
	height: 25px;
	width: 80px;
	border: none;
	border-radius: 25px;
	color: white;
	margin-top: 20px;
	font-family: "Bebas Neue", cursive;
	font-size: 20px;
}

.form {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
	width: 400px;
	margin-top: 100px;
}

.inputForms {
	box-sizing: border-box;
	width: 300px;
	height: 45px;
	border-radius: 10px;
	box-shadow: 0px -1px 4px lightgray;
	border: none;
	margin: 10px;
}

.inputForms::placeholder {
	padding-left: 15px;
	color: lightgray;
	font-size: 20px;
}

.submit {
	background-color: var(--color2);
	width: 290px;
	height: 45px;
	border-radius: 10px;
	margin-left: 15px;
	border: none;
	color: white;
	font-size: 20px;
}

.submit:hover {
	background-color: #0a553b;
	transition: 0.5s;
}

.newPostContainer {
	margin: 0 auto;
	margin-top: 25px;
	display: flex;
	justify-content: space-evenly;
	width: 800px;
	padding: 10px;
	border: solid 1px lightgray;
	border-radius: 20px;
}

.newImagePost {
	padding-right: 10px;
	max-height: 300px;
	max-width: 200px;
}

.postsBtn {
	background-color: var(--color1);
	height: 30px;
	width: 100px;
	border: none;
	border-radius: 5px 18px;
	color: white;
}

.postsBtn:hover {
	background-color: var(--color2);
	transition: 0.5s;
}

h2 {
	margin: 0;
	color: var(--color1);
	font-family: "Bebas Neue", cursive;
	font-size: 36px;
	padding-top: 20px;
}

.h3 {
	margin: 0;
	padding: 0;
}

.commentsContainer {
	margin: 0 auto;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	padding: 20px;
	border: solid 1px lightgray;
	border-radius: 15px;
	display: none;
}

.commentName {
	font-family: "Bebas Neue", cursive;
	font-size: 20px;
}

.commentContent {
	background-color: #eeeeee;
	margin-top: 0;
	margin-left: 12px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 4px 5px #dddddd;
}

.commentBtnsDiv {
	margin-left: 400px;
	margin-top: 10px;
	flex-direction: flex-end;
}

.commentsBtn {
	border: none;
	border-radius: 5px 10px;
	height: 30px;
}

.commentsBtn:hover {
	background-color: var(--commentsColor2);
	transition: 0.5s;
}

.postsContent {
	margin-top: 5px;
	margin-left: 20px;
}

.likesTotal {
	color: var(--color2);
}

.About_container {
	margin: 20px auto;
	width: 780px;
	border: solid 1px lightgray;
	border-radius: 20px;
	padding: 20px;
}

.aboutPictureDiv {
	text-align: center;
}

.aboutPicture {
	margin-top: 20px;
	border-radius: 100px;
	align-content: center;
	box-shadow: 2px 3px lightgray;
}

.newPost_container {
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	margin: 0 auto;
	width: 800px;
	text-align: center;
	border: solid 1px lightgray;
	border-radius: 10px;
	margin-top: 20px;
	padding-top: 20px;
}

.postInput {
	width: 400px;
	height: 100px;
	border: solid 1px lightgray;
	box-shadow: 2px 3px lightgray;
	margin-bottom: 20px;
}

.newPostInput_Title {
	display: flex;
	text-align: right;
	padding-top: 30px;
	/* border: solid 1px black; */
}

.newPostInput {
	display: flex;
	text-align: right;
	padding-top: 10px;
	/* border: solid 1px black; */
}

.newPostKey {
	margin-right: 10px;
	color: var(--color1);
	font-family: "Bebas Neue", cursive;
	font-size: 26px;
	padding: 5px;
	/* border: solid 1px black; */
	width: 50px;
	text-align: right;
}

.postForms {
	width: 400px;
	height: 30px;
	border: solid 1px lightgray;
	box-shadow: 2px 3px lightgray;
}

.writePostBtn {
	background-color: var(--color2);
	width: 200px;
	height: 45px;
	border-radius: 10px;
	margin-left: 15px;
	border: none;
	color: white;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.writePostBtn:hover {
	background-color: #0a553b;
	transition: 0.5s;
	cursor: pointer;
}

.signInInput_Title {
	display: flex;
	text-align: right;
	padding-top: 30px;
	/* border: solid 1px black; */
}

.signInInput {
	display: flex;
	text-align: right;
	padding-top: 10px;
	/* border: solid 1px black; */
}

.signInKey {
	margin-right: 10px;
	color: var(--color1);
	font-family: "Bebas Neue", cursive;
	font-size: 26px;
	padding: 5px;
	/* border: solid 1px black; */
	width: 200px;
	text-align: right;
}

.signInForms {
	width: 400px;
	height: 30px;
	border: solid 1px lightgray;
	box-shadow: 2px 3px lightgray;
}

#deleteBtn {
	background-color: rgb(160, 113, 113);
	width: 60px;
}

.References_container {
	margin: 20px auto;
	width: 800px;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.referenceName {
	margin: 0 auto;
	align-items: center;
	text-align: center;
	padding-right: 20px;
}

.referenceContent {
	display: flex;
	/* flex-wrap: wrap; */
	text-align: center;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	border: solid 1px lightgray;
	border-radius: 20px;
	width: 800px;
}

.instructorImages {
	border-radius: 100px;
	margin: 20px;
	width: 200px;
	box-shadow: 2px 2px lightgray;
}

.instructors {
	padding-bottom: 20px;
}

.referenceH2 {
	width: 800px;
}

.referenceContent_websites {
	display: flex;
	/* flex-wrap: wrap; */
	text-align: center;
	/* margin: 0 auto; */
	justify-content: center;
	align-items: center;
	border: solid 1px lightgray;
	border-radius: 20px;
	width: 800px;
	margin-bottom: 15px;
}

li {
	text-align: left;
}

h3 {
	width: 200px;
}

ul {
	width: 500px;
}

.referenceName_websites {
	margin-top: 20px;
	align-items: center;
	text-align: center;
	padding-right: 20px;
}

.referenceLinks {
	color: black;
	text-decoration: none;
}

.referenceLinks:hover {
	color: var(--color1);
	transition: 0.1s;
	text-decoration: underline;
	font-weight: bold;
}

.socialMediaIcons {
	height: 50px;
	padding: 20px;
}

.buttonsDiv {
	text-align: right;
}

.forgotPassword a {
	color: var(--color2);
}
